h1{
    position: absolute;
    top: 205px;
    margin-left: 50%;
    left: 250px;
    width: 200px;
    font-size: 36px;
    font-family: 'Limelight', cursive;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-left: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 25px 25px 25px 25px;
    
  }

h2{
  position: absolute;
  margin-right: 100px;
  top: 970px;
  right: 40%;
  font-family: 'Limelight', cursive;
  font-size: 40px;
  color: rgba(26, 69, 133, 0.932);
  opacity: 1;
  padding: 25px 25px 25px 25px;
  
}

p{
    position: absolute;
    margin-right: 200px;
    width: 60%;
    top: 1050px;
    right: 150px;
    font-family: 'Limelight', cursive;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    padding: 45px 45px;

}

.logo{
    margin-left: 200px;
}

.hempfactory{
    position: absolute;
    opacity: .95;
    height: 540px;
    width: 57%;
    margin-top: 130px;
    margin-left: 130px;

}

.natural{
    position: absolute;
    margin-top: 850px;
    margin-left: 50px;
    height: 400px;
}

.recycle{
  margin-left: 960px;
  margin-top: -700px;
  opacity: .75;
  position: absolute;
  height: 420px;
  width: 420px;

}
.background{
    margin-bottom: -5px;
    /* position: ; */
    width: 100%;
    height: 800px;
    background-origin: inherit;
}
.background2{
  margin-bottom: -5px;
  opacity: .7;
  width: 100%;
  height: 800px;
  background-origin: inherit;
}

.background3{
  margin-bottom: -25px;
  opacity: .8;
  width: 100%;
  height: 800px;
  background-origin: inherit;
}

.products{
  opacity: .75;
  margin-top: -25px;
  height: 800px;
  width: 100%;
  margin: 0px;
  top: 100px;
}


body{
    /* margin: -5px -5px -5px -5px; */
    margin: 0px;
    width: 100%;
    
}
#header {
    overflow: auto;
    background-color: #000000c4;
    padding: 20px 20px 20px 20px;
    font-family: 'Limelight', cursive;
  }
  
#header a {
    float: left;
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 30px;
  }
  
  #header a.logo {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Limelight', cursive;
    margin-left: 50px;
  }
  
  #header a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(74, 230, 74, 0.767);
  }
  
  #header a.active {
    opacity: .7;
    background-color:rgba(26, 69, 133, 0.753);
    color: rgb(247, 247, 247);
  }
  
  #header-right {
    float: left;
  }
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
.active{
  margin-left: 90px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 60px;
}

.hemphasis{
  position: absolute;
  opacity: 1;
  font-family: 'Limelight', cursive;
  font-size: 50px;
  color: rgba(26, 69, 133, 0.897);
  margin-top: -750px;
  margin-left: 500px;
}

.march10{
  height: 200px;
  position: absolute;
  margin-left: 975px;
  margin-top: -253px;
}
/* .hemp2{
  height: 220px;
  width: 40%;
  position: absolute;
  right: 850px;
  margin-left: 300px;
  margin-top: -275px;
}
.hemp3{
  height: 280px;
  width: 280px;
  position: absolute;
  right: 600px;
  margin-left: 300px;
  margin-top: -680px;
}
.hemp4{
  height: 310px;
  width: 275px;
  position: absolute;
  right: 550px;
  margin-left: 300px;
  margin-top: -680px;
}
.hemp5{
  height: 320px;
  width: 30%;
  position: absolute;
  right: 30px;
  margin-left: 300px;
  margin-top: -375px;
} */
.hempfact1{
  opacity: .9;
  height: 650px;
  position: absolute;
  margin-top: -685px;
  margin-left: 750px;
}

.hemp7{
  opacity: .9;
  height: 300px;
  width: 320px;
  position: absolute;
  right: 25px;
  margin-left: 300px;
  margin-top: -550px;


}
.hempfact2{
  opacity: .85;
  height: 650px;
  position: absolute;
  margin-top: -685px;
  margin-left: 175px;
}

.items{
  position: absolute;
  font-size: 60px;
  font-family: 'Limelight', cursive;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-right: rgb(0, 0, 0);
  border-radius: 3px;
  padding: 25px 25px 25px 25px;
  margin-top: -720px;
  right: 500px;

}
  


.producttitle{
  opacity: .6;
  height: 200px;
  width: 60%;
  position: absolute;
  margin-left: 300px;
  margin-top: -750px;
}

.hemppaper{
  height: 250px;
  width: 240px;
  position: absolute;
  right: 120px;
  margin-left: 900px;
  margin-top: -490px;

}

.hempcards{
  height: 250px;
  width: 240px;
  position: absolute;
  right: 370px;
  margin-left: 300px;
  margin-top: -490px;

}

.sketchbooks{
  height: 250px;
  width: 240px;
  position: absolute;
  right: 610px;
  margin-left: 300px;
  margin-top: -490px;

}

.hemppads{
  height: 250px;
  width: 240px;
  position: absolute;
  right: 850px;
  margin-left: 300px;
  margin-top: -490px;

}

.samplekit{
  opacity: 1;
  height: 250px;
  width: 240px;
  position: absolute;
  right: 1090px;
  margin-left: 300px;
  margin-top: -490px;

}

.samplepack{
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-top: black;
  position: absolute;
  margin-top: -230px;
  margin-left: 120px;
  width: 240px;
  background-color: antiquewhite;
}
.hemppad{
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-top: black;
  position: absolute;
  margin-top: -230px;
  margin-left: 350px;
  width: 240px;
  background-color: antiquewhite;
}

.journals{
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-top: black;
  position: absolute;
  margin-top: -230px;
  margin-left: 580px;
  width: 240px;

  background-color: antiquewhite;

}
.hempcard{
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-top: black;
  position: absolute;
  margin-top: -230px;
  margin-left: 820px;
  width: 240px;
  background-color: antiquewhite;
}

.wholesale{
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-top: black;
  position: absolute;
  margin-top: -230px;
  margin-left: 1050px;
  width: 240px;
  background-color: antiquewhite;
}

h4{
}

h5{
  font-size: 36px;
  text-align: center;
  margin-right: 150px;
  font-family: 'Limelight', cursive;

}
input[type=text], select, textarea {
  width: 100%; 
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical
}

input[type=submit] {
  background-color: rgba(23, 42, 128, 0.76);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #20cc53;
}

.container {
  border-radius: 5px;
  background-color: rgba(26, 69, 133, 0.856);
  padding: 20px;
  width: 50%;
  margin-left: 15%;
  font-family: 'Titillium Web', sans-serif;

}
h6{
  padding: 20px 20px 20px 20px;
  background-color: rgba(26, 69, 133, 0.849);
  color: rgba(255, 255, 255, 0.603);
  border-top: black;
  margin-bottom: 0px;
}