h1{
    position: absolute;
    top: 160px;
    margin-left: 50%;
    left: 250px;
    width: 200px;
    font-size: 36px;
    font-family: 'Limelight', cursive;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-right: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 25px 25px 25px 25px;
    
  }

h2{
  position: absolute;
  margin-right: 100px;
  top: 870px;
  right: 40%;
  font-family: 'Limelight', cursive;
  font-size: 40px;
  color: rgba(26, 69, 133, 0.753);
  opacity: 1;
  padding: 25px 25px 25px 25px;
  
}

p{
    position: absolute;
    margin-right: 200px;
    top: 950px;
    right: 100px;
    font-family: 'Limelight', cursive;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    padding: 45px 45px;

}

.logo{
    margin-left: 200px;
}

.hempfactory{
    position: absolute;
    opacity: .9;
    height: 520px;
    width: 57%;
    margin-top: 80px;
    margin-left: 130px;

}

.natural{
    position: absolute;
    margin-top: 750px;
    margin-left: 50px;
    height: 400px;
}

.background{
    position:
    opacity: 1;
    width: 100%;
    height: 700px;
    background-origin: inherit;
}
.background2{
  opacity: .7;
  width: 100%;
  height: 700px;
  background-origin: inherit;
}

.background3{
  opacity: .79;
  width: 100%;
  height: 700px;
  background-origin: inherit;
}


body{
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    width: 100%;
    
}
#header {
    overflow: hidden;
    background-color: #000000c4;
    padding: 20px 20px 20px 20px;
    font-family: 'Limelight', cursive;
  }
  
#header a {
    float: left;
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 30px;
  }
  
  #header a.logo {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Limelight', cursive;
    margin-left: 50px;
  }
  
  #header a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(139, 134, 110);
  }
  
  #header a.active {
    opacity: .7;
    background-color:rgb(139, 134, 110);
    color: rgb(247, 247, 247);
  }
  
  #header-right {
    float: left;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
.active{
  margin-left: 90px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.sticky + .content {
  padding-top: 60px;
}

.hemp1{
  height: 280px;
  width: 35%;
  position: absolute;
  right: 890px;
  margin-top: -560px;
}
.hemp2{
  height: 220px;
  width: 40%;
  position: absolute;
  right: 850px;
  margin-left: 300px;
  margin-top: -275px;
}
.hemp3{
  height: 280px;
  width: 280px;
  position: absolute;
  right: 600px;
  margin-left: 300px;
  margin-top: -680px;
}
.hemp4{
  height: 310px;
  width: 275px;
  position: absolute;
  right: 550px;
  margin-left: 300px;
  margin-top: -680px;
}
.hemp5{
  height: 320px;
  width: 30%;
  position: absolute;
  right: 30px;
  margin-left: 300px;
  margin-top: -375px;
}
.hemp6{
  height: 320px;
  width: 30%;
  position: absolute;
  right: 30px;
  margin-left: 300px;
  margin-top: -680px;
}
.hemp7{
  opacity: .85;
  height: 300px;
  width: 320px;
  position: absolute;
  right: 25px;
  margin-left: 300px;
  margin-top: -450px;


}
.hemp8{
  height: 320px;
  width: 30%;
  position: absolute;
  right: 460px;
  margin-left: 300px;
  margin-top: -375px;
}
